h1{  
background-image: linear-gradient( #ffb6b6  #ff9494 #ff6c6c #ff0e0e #b90000 #790000); }
   h2{      
    background-color: rgb(0, 0, 0);
     color: aqua; }
     h3{       
       background-color: blue;
      color: aqua;      }
      #verde{
        background-color: red;
      }